<!-- Container for all settings -->
<div class="settings-container">
  <!-- Language Selector -->
  <div class="settings-item">
    <label for="language-selector">Language</label>
    <p-select
      inputId="language-selector"
      [filter]="true"
      filterBy="title,value,filterAlias"
      [options]="groupedAvailableLanguages"
      [group]="true"
      optionLabel="title"
      optionValue="value"
      [(ngModel)]="languageService.selectedLanguageValue"
    >
      <!-- Style the group heading -->
      <ng-template let-group #languageGroup>
        <div class="group-heading">
          <!-- Display an icon conditionally -->
          @if (group.value === "common") {
            <i class="pi pi-code"></i>
          } @else if (group.value === "others") {
            <i class="pi pi-bars"></i>
          }
          <!-- Group label -->
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
    </p-select>
  </div>

  <!-- Indentation Size -->
  <div class="settings-item">
    <label for="indentation-size" class="label-with-popover">
      <span>Indentation Size</span>
      <i
        class="pi pi-question-circle popover-trigger-icon"
        (click)="indentationSizePopover.toggle($event)"
        (keyup.enter)="indentationSizePopover.toggle($event)"
        (keyup.space)="indentationSizePopover.toggle($event)"
        tabindex="0"
      ></i>
    </label>
    <p-inputNumber
      inputId="indentation-size"
      [showButtons]="true"
      [(ngModel)]="indentationSize"
      [min]="MIN_INDENTATION"
      [max]="MAX_INDENTATION"
    ></p-inputNumber>
  </div>

  <!-- Theme Selector -->
  <div class="settings-item">
    <label for="theme-selector">Theme</label>
    <p-select
      inputId="theme-selector"
      [options]="groupedAvailableThemes"
      optionLabel="label"
      [group]="true"
      [(ngModel)]="themeService.selectedTheme"
    >
      <!-- Style the group heading -->
      <ng-template let-group #themeGroup>
        <div class="group-heading">
          <!-- Display an icon conditionally -->
          @if (group.value === "dark") {
            <i class="pi pi-moon"></i>
          } @else if (group.value === "light") {
            <i class="pi pi-sun"></i>
          }
          <!-- Group label -->
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
    </p-select>
  </div>

  <!-- Indentation Mode -->
  <div class="settings-item">
    <label for="indent-mode" class="label-with-popover">
      <span>Indentation Mode</span>
      <i
        class="pi pi-question-circle popover-trigger-icon"
        (click)="indentationModePopover.toggle($event)"
        (keyup.enter)="indentationModePopover.toggle($event)"
        (keyup.space)="indentationModePopover.toggle($event)"
        tabindex="0"
      ></i>
    </label>
    <p-select
      inputId="indent-mode"
      [options]="availableIndentationModes"
      optionLabel="label"
      optionValue="value"
      [(ngModel)]="selectedIndentationMode"
    ></p-select>
  </div>

  <!-- Formatting -->
  <div class="settings-item">
    <label for="enable-formatting" class="label-with-popover">
      <span>Enable Formatting</span>
      <i
        class="pi pi-question-circle popover-trigger-icon"
        (click)="formattingPopover.toggle($event); $event.preventDefault()"
        (keyup.enter)="formattingPopover.toggle($event); $event.preventDefault()"
        (keyup.space)="formattingPopover.toggle($event); $event.preventDefault()"
        tabindex="0"
      ></i>
    </label>
    <!-- Wrapper used to show a tooltip when Switch is disabled -->
    <div
      [pTooltip]="!languageService.isPrettierSupportedByLanguage() ? 'Formatting is not supported for selected language' : undefined"
      [tooltipOptions]="tooltipOptions"
      class="toggle-wrapper"
    >
      <p-toggleswitch
        inputId="enable-formatting"
        [(ngModel)]="formattingEnabled"
        class="enable-formatting-toggle"
        [disabled]="!languageService.isPrettierSupportedByLanguage()"
      />
    </div>
  </div>

  <!-- Show Line Numbers -->
  <div class="settings-item">
    <label for="show-line-numbers" class="label-with-popover">
      <span>Show Line Numbers</span>
      <i
        class="pi pi-question-circle popover-trigger-icon"
        (click)="lineNumbersPopover.toggle($event); $event.preventDefault()"
        (keyup.enter)="lineNumbersPopover.toggle($event); $event.preventDefault()"
        (keyup.space)="lineNumbersPopover.toggle($event); $event.preventDefault()"
        tabindex="0"
      ></i>
    </label>
    <p-toggleswitch inputId="show-line-numbers" [(ngModel)]="showLineNumbers" class="show-line-numbers-toggle" />
  </div>
</div>

<!-- Popover for Indentation Size -->
<p-popover #indentationSizePopover>
  <div class="popover-content">
    <span class="popover-title">Indentation Size</span>
    <p class="popover-text">
      Defines the number of spaces used for indentation. If tabs were previously used, this value determines how many spaces should replace
      each tab, and vice versa.
    </p>
  </div>
</p-popover>

<!-- Popover for Indentation Mode -->
<p-popover #indentationModePopover>
  <div class="popover-content">
    <span class="popover-title">Indentation Mode</span>
    <div class="popover-text text-muted">
      <p>Choose an indentation character based on your format</p>
      <ul class="info-list">
        <li><strong>Word:</strong> Use <em>spaces</em> or <em>tabs</em>.</li>
        <li><strong>PowerPoint:</strong> Use <em>nonbreaking spaces (NBSP)</em>.</li>
      </ul>
    </div>
  </div>
</p-popover>

<!-- Popover for Formatting -->
<p-popover #formattingPopover>
  <div class="popover-content">
    <span class="popover-title">Code Formatting</span>
    <div class="popover-text">
      <p>
        When enabled, the code will be automatically formatted according to best practices for the selected language. Disable this option if
        you want to preserve the exact formatting of your code.
      </p>
      <p>Please note that formatting is <strong>only supported for languages marked with an asterisks (*)</strong>.</p>
    </div>
  </div>
</p-popover>

<!-- Popover for Line Numbers -->
<p-popover #lineNumbersPopover>
  <div class="popover-content">
    <span class="popover-title">Line Numbers</span>
    <div class="popover-text">
      <p>
        When enabled, line numbers will be displayed alongside your code. This can be helpful for referencing specific lines and debugging
        purposes.
      </p>
    </div>
  </div>
</p-popover>
