<!-- Dialog for showing the app settings on mobile devices -->
<p-dialog header="Highlighting Settings" id="highlighting-settings-dialog" [modal]="true" [(visible)]="settingsDialogVisible">
  <app-settings></app-settings>
</p-dialog>

<!-- Title -->
<header class="header">
  <h1>
    Syntax Highlighting with
    <span class="project-name">PastePerfect <i class="pi pi-code"></i></span>
  </h1>
  <div class="button-menu">
    <!-- Settings Cog Link (on small devices) -->
    <p-button
      aria-label="Open Settings"
      (click)="showDialog()"
      class="show-sm"
      severity="secondary"
      pTooltip="Settings"
      [tooltipOptions]="tooltipOptions"
    >
      <i class="pi pi-cog"></i>
    </p-button>

    <!-- GitHub Repo Link -->
    <a
      href="https://github.com/paste-perfect/paste-perfect/releases/tag/v{{ version }}"
      target="_blank"
      rel="noopener noreferrer"
      class="p-button p-button-secondary github-link"
      pTooltip="Go to the GitHub release page"
      [tooltipOptions]="tooltipOptions"
    >
      <i class="pi pi-github"></i><span>{{ version }}</span>
    </a>
  </div>
</header>
