<div class="highlighted-code-container">
  <!-- Copy Button -->
  <p-button
    id="copy-clipboard-button"
    icon="pi pi-copy"
    pTooltip="Click to copy highlighted code"
    [tooltipOptions]="tooltipOptions"
    (click)="copyToClipboard()"
  ></p-button>
  <!-- Preformatted text where the highlighted code gets inserted -->
  <pre id="highlighted-code-wrapper"><code
    [innerHTML]="codeService.highlightedCode"
    class="highlighted-code language-{{ languageService.selectedLanguage.value }}">
  </code></pre>
</div>
