<p-toast preventOpenDuplicates />

<div class="syntax-highlighter-container">
  <!-- Title -->
  <header class="title">
    <h1>
      Syntax Highlighting with
      <span class="project-name">PastePerfect <i class="pi pi-code"></i></span>
    </h1>
    <div>
      <a href="https://github.com/NikAcc/paste-perfect" target="_blank" rel="noopener noreferrer"
         class="p-button p-button-secondary"
         pTooltip="Go to the GitHub page"
         [tooltipOptions]="tooltipOptions"
      >
        <i class="pi pi-github"></i>
      </a>
    </div>
  </header>

  <!-- Welcome Message -->
  <div class="intro-message">
    <span>
      Easily highlight and copy your code with HTML formatting for seamless
      pasting into Word, PowerPoint, or plain text. Enjoy clean,
      professional-looking code in just a few clicks!
    </span>
  </div>

  <!-- Input and Settings -->
  <div class="input-section">
    <!-- Source Code -->
    <p-card id="source-code-card" header="Source Code">
      <app-code-input></app-code-input>
    </p-card>

    <!-- Configuration -->
    <p-card id="configuration-card" header="Settings">
      <app-settings></app-settings>
    </p-card>
  </div>

  <!-- Highlighted Code Output -->
  <div class="output-section">
    <!-- Highlighted Code -->
    <p-card id="highlighted-code-card" header="Result">
      <app-code-output></app-code-output>
    </p-card>
  </div>
</div>
