name: Deploy App

on:
  release:
    types:
      - prereleased
      - released
      - published
      - created

permissions:
  contents: write

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 'lts/*'  # Use latest LTS version

      - name: Install dependencies
        run: npm ci  # Ensure dependencies are installed

      - name: Build Angular app (Review Env)
        if: 'github.event.release.prerelease'
        run: npm run build-preview

      - name: Deploy to GitHub Pages (Review Env)
        uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a # v4
        if: 'github.event.release.prerelease'
        with:
          repository-name: paste-perfect/paste-perfect-test
          branch: gh-pages
          folder: dist/paste-perfect/browser
          clean: true
          ssh-key: ${{ secrets.DEPLOY_KEY }}

      - name: Build Angular app
        if: '!github.event.release.prerelease'
        run: npm run build-prod

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a # v4
        if: '!github.event.release.prerelease'
        with:
          branch: gh-pages  # Deploy to `gh-pages` branch
          folder: dist/paste-perfect/browser
          clean: true
