name: Release
on:
  push:
    branches:
      - main
      - dev

permissions:
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
          ssh-key: ${{ secrets.SEMANTIC_RELEASE_KEY }}
          # Persist credentials so that semantic-release will use them
          persist-credentials: true
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "lts/*"
      - name: Install dependencies
        run: npm clean-install
      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE }}
        run: npx semantic-release
      - name: Create PR to update dev branch
        if: github.ref == 'refs/heads/main'
        run: |
          # 1. Create the Pull Request
          gh pr create --base dev --head main \
            --title "chore(sync): update dev with latest release from main" \
            --body "Syncing changes from main back to dev following a release." \
            || echo "PR creation failed or PR already exists."

          # 2. Set Auto-Merge
          gh pr merge main --auto --merge --delete-branch=false
        env:
          GH_TOKEN: ${{ secrets.SEMANTIC_RELEASE }}
      - name: Create PR to create upcoming release
        if: github.ref == 'refs/heads/dev'
        run: |
          gh pr create --base main --head dev --title "Upcoming Release" --fill || echo "PR already exists! Skipping..."
        env:
          GH_TOKEN: ${{ secrets.SEMANTIC_RELEASE }}
